<IfModule mod_rewrite.c>

RewriteEngine on

RewriteRule ^admin/install\.php$													admin/install.php?modrewrite=true [QSA,L]

#plugin not found, try the request plugin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?path_info=$1&plugin=notfound [QSA,L]


</IfModule>
