{assign var=page value=$start|intval}
{assign var=item_count value=$files|@count}
{assign var=page_count value=$limit}
{assign var=page_str value=''}
{foreach from=$smarty.get key=k item=v}
{if $page_str != ''}{assign var=page_str value=$page_str|cat:'&amp;'}{/if}
{if $k != "start"}
{assign var=page_str value=$page_str|cat:$k|cat:'='|cat:$v}
{/if}
{/foreach}
{assign var=page_str value=$smarty.server.PHP_SELF|cat:'?'|cat:$page_str}
{if $page > 0}
    {if $page > $page_count}
        <a href="{$page_str}&start=0" class="big" style="float:left; clear:none; display:inline;">First</a>
        <a href="{$page_str}&start={$page-$page_count}" class="big" style="float:left; clear:none; display:inline;">Prev</a>
    {else}
        <a href="{$page_str}&start=0" class="big" style="float:left; clear:none; display:inline;">First</a>
    {/if}
{/if}
{assign var=page_int value=$page/$page_count}
{assign var=lower value=$page_int-8}
{assign var=upper value=$page_int+8}
{assign var=total_count value=$total_count-1}
{assign var=pages value=$total_count/$page_count|floor}
{if $lower < 0}{assign var=upper value=$upper-$lower}{assign var=lower value=0}{/if}
{if $upper > $pages}{assign var=upper value=$pages}{assign var=lower value=$pages-$page_count-1}{/if}
{if $lower < 0}{assign var=lower value=0}{/if}
{if $page <= $total_count-$page_count}
	{assign var=last_page value=$total_count/$page_count|floor}
	{if $page < $total_count-$page_count-$page_count}
		<a href="{$page_str}&start={$page+$page_count}" class="big" style="float:left; clear:none; display:inline;">Next</a>
		<a href="{$page_str}&start={$last_page*$page_count}" class="big" style="float:left; clear:none; display:inline;">Last</a>
	{else}
		<a href="{$page_str}&start={$last_page*$page_count}" class="big" style="float:left; clear:none; display:inline;">Last</a>
	{/if}
{/if}