{assign var=page value=$start|intval}
{assign var=item_count value=$files|@count}
{assign var=page_count value=$limit}
{assign var=prev_page value=$page-$page_count}
{if $page > 0}
    {if $page > $page_count}
        <a href="{$get|cat:'&start=0'|generate_href}" class="big" style="float:left; clear:none; display:inline;">First</a>
        <a href="{$get|cat:'&start='|cat:prev_page|generate_href}" class="big" style="float:left; clear:none; display:inline;">Prev</a>
    {else}
        <a href="{$get|cat:'&start=0'|generate_href}" class="big" style="float:left; clear:none; display:inline;">First</a>
    {/if}
{/if}
{assign var=page_int value=$page/$page_count}
{assign var=lower value=$page_int-8}
{assign var=upper value=$page_int+8}
{assign var=total_count value=$total_count-1}
{assign var=pages value=$total_count/$page_count|floor}
{if $lower < 0}{assign var=upper value=$upper-$lower}{assign var=lower value=0}{/if}
{if $upper > $pages}{assign var=upper value=$pages}{assign var=lower value=$pages-$page_count-1}{/if}
{if $lower < 0}{assign var=lower value=0}{/if}
{if $page <= $total_count-$page_count}
	{assign var=last_page value=$total_count/$page_count|floor}
    {assign var=last_page value=$last_page*$page_count}
    {assign var=next_page value=$page+$page_count}
	{if $page < $total_count-$page_count-$page_count}
		<a href="{$get|cat:'&start='|cat:$next_page|generate_href}" class="big" style="float:left; clear:none; display:inline;">Next</a>
		<a href="{$get|cat:'&start='|cat:$last_page|generate_href}" class="big" style="float:left; clear:none; display:inline;">Last</a>
	{else}
		<a href="{$get|cat:'&start='|cat:$last_page|generate_href}" class="big" style="float:left; clear:none; display:inline;">Last</a>
	{/if}
{/if}