<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$smarty.const.HTML_NAME|@htmlspecialchars}</title>
{literal}
<style>
html, body {
	margin:0;
}
a.big {
	font-size:16px;
	display:block;
	background:#FFF;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	font-weight:bold;
	text-decoration:none;
	padding:2px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	clear:both;
}
a.big.selected {
	background:#006;
	color:#FFF;
}
</style>
<script language="javascript">
var my_link = '{/literal}{$smarty.const.HTML_ROOT}plugins/query.php?cat={$smarty.request.cat}&select={literal}';
function select(id)
{
	items[id] = !items[id];
	if(items[id] == true)
		document.getElementById('item_'+id).className = "big selected";
	else
		document.getElementById('item_'+id).className = "big";
}
function go_link()
{
	var on = '';
	var off = '';
	for(id in items)
	{
		if(items[id] == true)
			on = on + id + ',';
		else
			off = off + id + ',';
	}
	window.location = my_link + '&on=' + on + '&off=' + off;
}
function all_on()
{
	var on = '';
	for(id in items)
	{
		on = on + id + ',';
	}
	window.location = my_link + '&on=' + on;
}
function none_on()
{
	var off = '';
	for(id in items)
	{
		off = off + id + ',';
	}
	window.location = my_link + '&off=' + off;
}
var items = []; // {/literal}
{section name=file loop=$files}
{if isset($smarty.session.selected)}
	{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
{else}
	{assign var=item_selected value=false}
{/if}
items[{$files[file].id}] = {if $item_selected}true{else}false{/if};
{/section}
</script>
</head>
<body>
{if isset($smarty.get.cat)}
<form action="{$smarty.server.PHP_SELF|htmlspecialchars}" method="get">
<input type="text" value="{$smarty.request.search}" name="search" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;" /><input type="submit" value="Search" style="font-weight:bold; font-size:16px; font-family:Arial, Helvetica, sans-serif;" />
</form>
<a href="javascript:go_link();" class="big" style="float:left; clear:none; display:inline;">Save</a>
<a href="javascript:all_on();" class="big" style="float:left; clear:none; display:inline;">All</a>
<a href="javascript:none_on();" class="big" style="float:left; clear:none; display:inline;">None</a>
{include file=$templates.TEMPLATE_PAGES}
{section name=file loop=$files}
	{assign var=type_arr value='/'|@split:$files[file].Filemime}
	{assign var=type value=$type_arr.0}
	{if isset($smarty.session.selected)}
		{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
	{else}
		{assign var=item_selected value=false}
	{/if}
	<a href="javascript:select({$files[file].id});" id="item_{$files[file].id}" class="big{if $item_selected} selected{/if}">{$files[file].Filename}</a>
{/section}
<a href="javascript:go_link();" class="big" style="float:left; clear:none; display:inline;">Save</a>
<a href="javascript:all_on();" class="big" style="float:left; clear:none; display:inline;">All</a>
<a href="javascript:none_on();" class="big" style="float:left; clear:none; display:inline;">None</a>
{include file=$templates.TEMPLATE_PAGES}
{else}
{foreach key=module from=$modules item=desc}
	{assign var=module_name value=$module|cat:'::NAME'|@constant}
	{assign var=cut_off value=$module_name|@strpos:' from'}
    {if $cut_off != 0} <a href="?cat={$modules[module]}" class="big">{$module_name|@substr:0:$cut_off} &gt;</a> {/if}
{/foreach}
{/if}
</body>
</html>
