/* CSS Document */

form p {
	margin:0px;
}

.debug {
	border:3px solid #FC0;
	background-color:#FF6;
}

.debug .msg {
	display:block;
	cursor:pointer;
	background-color:#FF6;
	text-decoration:none;
	color:#000;
}

.debug .msg.php_error {
	background-color:#F97;
}

.debug .msg.db_error {
	background-color:#FC5;
}

.debug .msg.verbose_error {
	background-color:#FF9;
}

.debug.hide * {
	display:none;
	visibility:hidden;
}

.debug.hide #hide_link {
	display:block;
	visibility:visible;
}

.error.hide b, .error.hide br {
	display:none;
	visibility:hidden;
}

#user_errors {
	border:2px solid #C00;
	background-color:#F99;
}
#note_errors {
	border:2px solid #09F;
	background-color:#CEF;
}
#warn_errors {
	border:2px solid #CC0;
	background-color:#FF9;
}