<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Media Server Query</title>
{if $smarty.request.detail == 3}
{literal}
<style>
span.column {
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

</style>
{/literal}
{/if}
</head>

<body>
{assign var=site_template value=$smarty.const.SITE_TEMPLATE}
{include file="$site_template/search.html"}<br />
{include file="$site_template/select.html"}<br />
{include file="$site_template/type.html"}<br />
{include file="$site_template/display.html"}<br />
</body>
</html>

