{if $smarty.request.detail < 5}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$smarty.const.SITE_NAME}: Query</title>
{if $smarty.request.detail == 3}
{literal}
<style>
span.column {
	white-space:pre;
	font-family:"Courier New", Courier, monospace;
}

</style>
{/literal}
{elseif $smarty.request.detail == 4}
{literal}
<style>
table.select_list {
	white-space:nowrap;
}

table.select_list thead {
	font-weight:bold;
}

table.select_list thead a {
	text-decoration:none;
}

</style>
{/literal}
{/if}
</head>

<body>
{include file=$templates.TEMPLATE_SEARCH}<br />
{include file=$templates.TEMPLATE_SELECT}<br />
{include file=$templates.TEMPLATE_TYPE}<br />
{include file=$templates.TEMPLATE_DISPLAY}<br />
</body>
</html>
{elseif $smarty.request.detail == 5}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Media Server Query</title>
</head>

<body>
{include file=$templates.TEMPLATE_ADDRESS}<br />
{include file=$templates.TEMPLATE_SEARCH}<br />
{include file=$templates.TEMPLATE_SELECT}<br />
{include file=$templates.TEMPLATE_TYPE}<br />
{include file=$templates.TEMPLATE_DISPLAY}<br />
</body>
</html>
{/if}

