{php}
$modules = $this->get_template_vars('modules');
$modules_named = array();
foreach($modules as $i => $module)
{
	$modules_named[] = constant($module . '::NAME');
}
array_multisort($modules_named, SORT_STRING, $modules);
$this->assign('modules', $modules);
$this->assign('modules_named', $modules_named);
{/php}
{if $smarty.request.detail < 4}
	<div id="builder">
		Use this form to generate the list of files you would like to view:
		<br />
		<form name="search" action="{$search_str}" method="get">
            {foreach from=$smarty.get key=k item=v}
            {if $k != "search" && $k != "cat"}
                <input type="hidden" name="{$k}" value="{$v}" />
            {/if}
            {/foreach}
			<select name="cat">
			{foreach item=module key=i from=$modules}
				<option value="{$module}" {if isset($smarty.request.cat) && $smarty.request.cat eq $module}selected{/if}>{$modules_named.$i}</option>
			{/foreach}
			</select>
			<br />
			Contains <input name="search" type="text" value="{if isset($smarty.request.search)}{$smarty.request.search|stripslashes|htmlspecialchars}{/if}" /> (Enter keywords)
			<br />
			Submit to apply filter.
			<br />
			<input type="submit" value="Search" />
		</form>
	</div>
{elseif $smarty.request.detail >= 4}
	<div id="builder">
		Use this form to generate the list of files you would like to view:
		<br />
		<form name="search" action="{$smarty.server.PHP_SELF}" method="get">
			<select name="cat">
			{section name=module loop=$modules}
				{assign var=module value=$modules[module]}
				<option value="{$modules[module]}" {if isset($search.cat) && $search.cat eq $modules[module]}selected{/if}>{php}
					$module = $this->get_template_vars('module');
					echo constant($module . '::NAME');
				{/php}</option>
			{/section}
			</select>
			<br />
			Contains <input name="search" type="text" value="{if isset($search.search)}{$search.search}{/if}" /> (Enter keywords)
			<br />
			Directory <input name="dir" type="text" value="{if isset($search.dir)}{$search.dir}{/if}" /> (Directory filter)
			<br />
			Order by <select name="order_by">
				{section name=order_by loop=$columns}
				<option value="{$columns[order_by]}" {if isset($search.order_by) && $search.order_by eq $columns[order_by]}selected{/if}>{$columns[order_by]}</option>
				{/section}
			</select>
			<br />
			Submit to apply filter.
			<br />
			<input type="submit" value="Search" />
		</form>
	</div>
{/if}