{if $smarty.request.detail < 4}
	<div id="builder">
		Use this form to generate the list of files you would like to view:
		<br />
		<form name="search" action="{$smarty.server.PHP_SELF}" method="post">
			<select name="cat">
			{section name=module loop=$modules}
				{assign var=module value=$modules[module]}
				<option value="{$modules[module]}" {if isset($search.cat) && $search.cat eq $modules[module]}selected{/if}>{php}
					$module = $this->get_template_vars('module');
					echo constant($module . '::NAME');
				{/php}</option>
			{/section}
			</select>
			<br />
			Contains <input name="includes" type="text" value="{if isset($search.includes)}{$search.includes}{/if}" /> (Enter keywords)
			<br />
			Submit to apply filter.
			<br />
			<input name="search" type="submit" value="Search" />
		</form>
	</div>
{elseif $smarty.request.detail >= 4}
	<div id="builder">
		Use this form to generate the list of files you would like to view:
		<br />
		<form name="search" action="{$smarty.server.PHP_SELF}" method="post">
			<select name="cat">
			{section name=module loop=$modules}
				{assign var=module value=$modules[module]}
				<option value="{$modules[module]}" {if isset($search.cat) && $search.cat eq $modules[module]}selected{/if}>{php}
					$module = $this->get_template_vars('module');
					echo constant($module . '::NAME');
				{/php}</option>
			{/section}
			</select>
			<br />
			Contains <input name="includes" type="text" value="{if isset($search.includes)}{$search.includes}{/if}" /> (Enter keywords)
			<br />
			Directory <input name="dir" type="text" value="{if isset($search.dir)}{$search.dir}{/if}" /> (Directory filter)
			<br />
			Order by <select name="order_by">
				{section name=order_by loop=$columns}
				<option value="{$columns[order_by]}" {if isset($search.order_by) && $search.order_by eq $columns[order_by]}selected{/if}>{$columns[order_by]}</option>
				{/section}
			</select>
			<br />
			Submit to apply filter.
			<br />
			<input name="search" type="submit" value="Search" />
		</form>
	</div>
{/if}