{if $smarty.request.detail == 0 || $smarty.request.detail == 1 || $smarty.request.detail == 2}
	There are {$total_count} result(s).<br />
	{assign var=page value=$smarty.request.start|intval}
	{assign var=item_count value=$files|@count}
	Displaying items {$smarty.request.start} to {$page+$item_count}.
	<form name="select" action="" method="post">
		<input type="submit" name="select" value="All" /><input type="submit" name="select" value="None" /><br />
		<p style="white-space:nowrap">
		Select<br />
		On : Off<br />
		{section name=file loop=$files}
            {assign var=type_arr value='/'|@split:$files[file].Filemime}
            {assign var=type value=$type_arr.0}
			{if isset($smarty.session.selected)}
				{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
			{else}
				{assign var=item_selected value=false}
			{/if}
			<input type="radio" name="item[{$files[file].id}]" value="on" {if $item_selected}checked="checked"{/if} />
			<input type="radio" name="item[{$files[file].id}]" value="off" {if !$item_selected}checked="checked"{/if} />
			{$files[file].Filepath}
			{if $smarty.request.detail == 2}
				{foreach from=$smarty.session.columns item=column_value}
					{if isset($files[file].$column_value)}
						- {$files[file].$column_value}
					{/if}
				{/foreach}
			{/if}
            - Download:
            	<a href="/{$smarty.const.SITE_PLUGINS}zip/{$files[file].id}/Files.zip">zip</a> :
                <a href="/{$smarty.const.SITE_PLUGINS}bt/{$files[file].id}/Files.torrent">torrent</a>
                {if $type=="video"}
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/MP4/File{$files[file].id}.mp4">mp4</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/MPG/File{$files[file].id}.mpeg">mpg</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/WMV/File{$files[file].id}.wmv">wmv</a>
                {elseif $type=="audio"}
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/MP4A/File{$files[file].id}.mp4">mp4</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/MP3/File{$files[file].id}.mp3">mp3</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}encode/{$files[file].id}/WMA/File{$files[file].id}.wma">wma</a>
                {elseif $type=="image"}
                : <a href="/{$smarty.const.SITE_PLUGINS}convert/{$files[file].id}/JPG/File{$files[file].id}.jpg">jpg</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}convert/{$files[file].id}/GIF/File{$files[file].id}.gif">gif</a>
                : <a href="/{$smarty.const.SITE_PLUGINS}convert/{$files[file].id}/PNG/File{$files[file].id}.png">png</a>
                {/if}
			<br />
		{/section}
		</p>
		<input name="select" type="submit" value="Save" /><input type="reset" value="Reset" /><br />
	</form>
	{include file=$templates.TEMPLATE_PAGES}<br />
{elseif $smarty.request.detail == 3}
	There are {$total_count} result(s).<br />
	{assign var=page value=$smarty.request.start|intval}
	{assign var=item_count value=$files|@count}
	Displaying items {$smarty.request.start} to {$page+$item_count}.
	<form name="select" action="" method="post">
		<input type="submit" name="select" value="All" /><input type="submit" name="select" value="None" /><br />
		<p style="white-space:nowrap">
		{php}
		global $files, $smarty;
		// get the longest column for each row
		$column_lengths = array();
		foreach($_SESSION['columns'] as $i => $name)
		{
			$column_lengths[$name] = strlen($name);
			foreach($files as $i => $file)
			{
				if(strlen($file[$name]) > $column_lengths[$name]) $column_lengths[$name] = strlen($file[$name]);
			}
		}
		$smarty->assign('column_lengths', $column_lengths);
		{/php}
		<span class="column">On/Off</span>
		{foreach from=$smarty.session.columns item=column_value key=column_key}
            {assign var=column_len value=$column_lengths.$column_value}
            {assign var=format_str value="%-"|cat:$column_len+2|cat:"s"}
            <span class="column">{$column_value|string_format:$format_str}</span>
		{/foreach}
		<span class="column">Download</span>
		<br />
		{section name=file loop=$files}
			{if isset($smarty.session.selected)}
				{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
			{else}
				{assign var=item_selected value=false}
			{/if}
			<span class="column"> <input type="radio" name="item[{$files[file].id}]" value="on" {if $item_selected}checked="checked"{/if} /><input type="radio" name="item[{$files[file].id}]" value="off" {if !$item_selected}checked="checked"{/if} /> </span>
			{foreach from=$smarty.session.columns item=column_value}
				{if isset($files[file].$column_value)}
					{assign var=column_len value=$column_lengths.$column_value}
					{assign var=format_str value="%-"|cat:$column_len+2|cat:"s"}
					<span class="column">{$files[file].$column_value|string_format:$format_str}</span>
				{/if}
			{/foreach}
			<span class="column"><a href="/{$smarty.const.SITE_PLUGINS}zip/{$files[file].id}/Files.zip">zip</a>:<a href="/{$smarty.const.SITE_PLUGINS}bt/{$files[file].id}/Files.torrent">torrent</a></span>
			<span style="display:block; float:left; clear:both;"></span><br />
		{/section}
		</p>
		<input name="select" type="submit" value="Save" /><input type="reset" value="Reset" /><br />
	</form>
	{include file=$templates.TEMPLATE_PAGES}<br />
{elseif $smarty.request.detail == 4}
	There are {$total_count} result(s).<br />
	{assign var=page value=$smarty.request.start|intval}
	{assign var=item_count value=$files|@count}
	Displaying items {$smarty.request.start} to {$page+$item_count}.
	<form name="select" action="" method="post">
		<input type="submit" name="select" value="All" /><input type="submit" name="select" value="None" /><br />
		<table class="select_list">
			<thead>
				<td>On/Off</td>
{assign var=columns value=$smarty.session.columns}{assign var=column_count value=$columns|@count}
{foreach name=columns from=$columns item=column_value}{assign var=items_after value=''}{assign var=items_before value=''}
{section name=link_column loop=$columns}
{assign var=item_after value=$smarty.section.link_column.index-1}{assign var=item_before value=$smarty.section.link_column.index+1}
{if $columns[link_column] neq $column_value}
{if $column_value eq $columns.$item_after}{assign var=items_after value=$items_after|cat:$columns[link_column]|cat:","|cat:$column_value|cat:","}
{else}{assign var=items_after value=$items_after|cat:$columns[link_column]|cat:","}{/if}
{if $column_value eq $columns.$item_before}{assign var=items_before value=$items_before|cat:$column_value|cat:","|cat:$columns[link_column]|cat:","}
{else}{assign var=items_before value=$items_before|cat:$columns[link_column]|cat:","}{/if}
{/if}
{/section}
{assign var=column_link_len value=$items_before|strlen}{assign var=items_before value=$items_before|substr:0:$column_link_len-1}{assign var=column_link_len value=$items_after|strlen}{assign var=items_after value=$items_after|substr:0:$column_link_len-1}
				<td>{if $smarty.foreach.columns.index > 0}<a href="{$smarty.server.PHP_SELF}?column={$items_before}&display=">&lt;</a> {/if}{if isset($display.order) && $display.order eq $column_value}{$column_value}{else}<a href="{$smarty.server.PHP_SELF}?order={$column_value}&display=">{$column_value}</a>{/if}{if $smarty.foreach.columns.index < $column_count-1} <a href="{$smarty.server.PHP_SELF}?column={$items_after}&display=">&gt;</a>{/if}</td>
{/foreach}
				<td>Download</td>
			</thead>
{section name=file loop=$files}
			<tr>
{if isset($smarty.session.selected)}{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
{else}{assign var=item_selected value=false}{/if}
				<td><input type="radio" name="item[{$files[file].id}]" value="on" {if $item_selected}checked="checked"{/if} /><input type="radio" name="item[{$files[file].id}]" value="off" {if !$item_selected}checked="checked"{/if} /></td>
{foreach from=$smarty.session.columns item=column_value}
				<td>{if isset($files[file].$column_value)}{$files[file].$column_value}{/if}</td>
{/foreach}
				<td><a href="/{$smarty.const.SITE_PLUGINS}zip/{$files[file].id}/Files.zip">zip</a>:<a href="/{$smarty.const.SITE_PLUGINS}bt/{$files[file].id}/Files.torrent">torrent</a></td>
			</tr>
{/section}
		</table>
		<input name="select" type="submit" value="Save" /><input type="reset" value="Reset" /><br />
	</form>
	{include file=$templates.TEMPLATE_PAGES}<br />
{elseif $smarty.request.detail == 5}
	There are {$total_count} result(s).<br />
	{assign var=page value=$smarty.request.start|intval}
	{assign var=item_count value=$files|@count}
	Displaying items {$smarty.request.start} to {$page+$item_count}.
	<form name="select" action="" method="post">
		<input type="submit" name="select" value="All" /><input type="submit" name="select" value="None" /><br />
		<table class="select_list">
			<thead>
{assign var=columns value=$smarty.session.columns}{assign var=column_count value=$columns|@count}
{foreach name=columns from=$columns item=column_value}{assign var=items_after value=''}{assign var=items_before value=''}
{section name=link_column loop=$columns}
{assign var=item_after value=$smarty.section.link_column.index-1}{assign var=item_before value=$smarty.section.link_column.index+1}
{if $columns[link_column] neq $column_value}
{if $column_value eq $columns.$item_after}{assign var=items_after value=$items_after|cat:$columns[link_column]|cat:","|cat:$column_value|cat:","}
{else}{assign var=items_after value=$items_after|cat:$columns[link_column]|cat:","}{/if}
{if $column_value eq $columns.$item_before}{assign var=items_before value=$items_before|cat:$column_value|cat:","|cat:$columns[link_column]|cat:","}
{else}{assign var=items_before value=$items_before|cat:$columns[link_column]|cat:","}{/if}
{/if}
{/section}
{assign var=column_link_len value=$items_before|strlen}{assign var=items_before value=$items_before|substr:0:$column_link_len-1}{assign var=column_link_len value=$items_after|strlen}{assign var=items_after value=$items_after|substr:0:$column_link_len-1}
				<td>{if $smarty.foreach.columns.index > 0}<a href="{$smarty.server.PHP_SELF}?column={$items_before}&display=">&lt;</a> {/if}{if isset($display.order) && $display.order eq $column_value}{$column_value}{else}<a href="{$smarty.server.PHP_SELF}?order={$column_value}&display=">{$column_value}</a>{/if}{if $smarty.foreach.columns.index < $column_count-1} <a href="{$smarty.server.PHP_SELF}?column={$items_after}&display=">&gt;</a>{/if}</td>
{/foreach}
				<td>Download</td>
			</thead>
{section name=file loop=$files}
			<tr>
{if isset($smarty.session.selected)}{assign var=item_selected value=$files[file].id|in_array:$smarty.session.selected}
{else}{assign var=item_selected value=false}{/if}
{foreach from=$smarty.session.columns item=column_value}
				<td>{if isset($files[file].$column_value)}{$files[file].$column_value}{/if}</td>
{/foreach}
				<td><a href="/{$smarty.const.SITE_PLUGINS}zip/{$files[file].id}/Files.zip">zip</a>:<a href="/{$smarty.const.SITE_PLUGINS}bt/{$files[file].id}/Files.torrent">torrent</a></td>
			</tr>
{/section}
		</table>
		<input name="select" type="submit" value="Save" /><input type="reset" value="Reset" /><br />
	</form>
	{include file=$templates.TEMPLATE_PAGES}<br />
{/if}