<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$smarty.const.HTML_NAME}</title>
</head>

<body>
Choose Layout:<br />
<a href="{$smarty.const.HTML_DOMAIN}{$smarty.const.HTML_ROOT}?template=default">Default</a> : <a href="{$smarty.const.HTML_DOMAIN}{$smarty.const.HTML_ROOT}?template=extjs">ExtJS</a> : <a href="{$smarty.const.HTML_DOMAIN}{$smarty.const.HTML_ROOT}?template=mobile">Mobile</a>
</body>
</html>
