@charset "utf-8";
/* CSS Document */

.ux-clear-button {
    background-image:url(../images/clear16x16.png) !important;
}
.ux-remove-button {
    background-image:url(../images/remove16x16.png) !important;
}
.ux-download-button {
    background-image:url(../images/down16x16.png) !important;
}
.ux-singlefile {
    background-image:url(../images/binary16x16.png) !important;
}
.ux-zipfile {
    background-image:url(../images/ark16x16.png) !important;
}
.ux-torrentfile {
    background-image:url(../images/download16x16.png) !important;
}

.downloads-window .x-grid3-row-table .x-toolbar .x-btn td {
	margin:0px;
	padding:0px;
	padding-left:0px;
	padding-right:0px;
	vertical-align:middle;
}

.downloads-window .x-grid3-row-table .x-toolbar .x-grid3-cell-inner {
	padding:0px;
}

.downloads-window .x-grid3-row-table .x-toolbar {
	padding:0px;
	padding-left:0px;
	padding-right:0px;
	background:none;
	border:none;
}

.downloads {
    background-image:url(../images/download16x16.png) !important;
}
#downloads-win-shortcut span {
	display:block;
	margin:8px 8px 0px 8px;
    width:48px;
    height:48px;
    background-image: url(../images/download48x48.png) !important;
}
