@charset "utf-8";
/* CSS Document */


.x-toolbar .ytb-new {
	border:0pt none;
	cursor:default;
	display:block;
	font-size:1px;
	height:16px;
	margin:0pt 2px;
	overflow:hidden;
	width:4px;
	clear:both;
}