@charset "utf-8";
/* CSS Document */

.player {
    background-image:url(../images/player16x16.png) !important;
}
#player-win-shortcut span {
	display:block;
	margin:8px 8px 0px 8px;
    width:48px;
    height:48px;
    background-image: url(../images/player48x48.png) !important;
}

.ux-player .ux-play {
	background-image:url(../images/control_play_blue.png) !important; 	
}

.ux-player .ux-eject {
	background-image:url(../images/control_eject_blue.png) !important; 	
}

.ux-player .ux-stop {
	background-image:url(../images/control_stop_blue.png) !important; 	
}

.ux-player .ux-pause {
	background-image:url(../images/control_pause_blue.png) !important; 	
}

.ux-player .ux-start {
	background-image:url(../images/control_start_blue.png) !important; 	
}

.ux-player .ux-end {
	background-image:url(../images/control_end_blue.png) !important; 	
}

.ux-player .ux-mute {
	background-image:url(../images/sound_mute.png) !important; 	
}

.ux-player .ux-volume {
	background-image:url(../images/sound_none.png) !important; 	
}

