
.ux-task-panel {
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
}
.ux-search-panel {
	padding:3px;
}
.portal-window .thumb {
}
.portal-window .thumb div {
    height: 64px; 
    width: 64px;
	margin: 0px 8px 0px 8px;
}
.portal-window .thumb-wrap {
    float: left;
    height: 80px;
    width: 80px;
	padding: 2px;
	border-color: rgb(237, 237, 237);
}
.portal-window .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
	white-space:nowrap;
}
.portal-window .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url('../extjs/resources/images/default/grid/row-over.gif') repeat-x left top;
	padding: 4px;
}

.portal-window .x-view-selected{
	background: #eff5fb url('../images/selected.gif') no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
.portal-window .x-view-selected .thumb{
	background:transparent;
}
.portal-window .x-view-selected span { 
    color:#1A4D8F;
}
.portal-window .loading-indicator { 
    font-size:11px; 
    background-image:url('../extjs/resources/images/default/grid/loading.gif'); 
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left:20px; 
    margin:10px; 
}
.tool-tip .x-tip-body {
	white-space:nowrap;
	overflow:hidden;
}


.ux-address {
	width:100%;
	_border-collapse:collapse;
}

.ux-address .x-form-field {
	background:none;
	border:0px;
	padding:2px;
	margin:1px;
}

.ux-address .ux-address-middle {
	border-right:0px;
	border-left:0px;
	padding:0px 0px 0px 1px;
}

.ux-address .ux-address-start {
	background:none;
	border-left:0px;
	border-top:0px;
	border-bottom:0px;
	padding:0px;
}

.ux-address .ux-address-end {
	border-left:0px;
	padding:0px;
}

.ux-address .x-form-field-wrap .x-form-trigger {
	position:relative;
	height: 24px;
	_top:-1;
}


.ux-address .ux-form-active .x-form-trigger {
	display:inline;
	float:none;
}


.ux-button-inactive .x-btn-menu-arrow-el {
	background-image:url(../images/btn-arrow.gif) !important;
}

.x-toolbar.ux-toolbar {
	border-color:#99BBE8;
	border-style:solid;
	border-width:1px;
}

.ux-leftpanel .x-panel-header {
	border-top:0px;
}

.ux-grid3-header {
	padding:0px;
}


.ux-data-view {
	overflow:hidden;
}
.ux-back-button {
    background-image:url(../images/back.png) !important;
}
.ux-forward-button {
    background-image:url(../images/forward.png) !important;
}
.ux-up-button {
    background-image:url(../images/up.png) !important;
}
.ux-reload-button {
    background-image:url(../images/reload.png) !important;
}
.ux-search-button {
    background-image:url(../images/viewmag.png) !important;
}
.ux-folders-button {
    background-image:url(../images/view_tree.png) !important;
}
.ux-view-button {
    background-image:url(../images/view.png) !important;
}
.ux-downloads-button {
    background-image:url(../images/download16x16.png) !important;
}
.ux-bold {
	font-weight:bold;
}
.ux-fill {
	width:100%;
}
.portal-window .x-panel-body li a {
	color:#3764A0;
	text-decoration:none;
}
.portal-window .x-panel-body li a:hover {
	color:#15428B;
	text-decoration:underline;
}
.portal-window .x-panel-body li img {
	height:16px;
	margin-bottom:2px;
	margin-right:2px;
	vertical-align:middle;
	width:16px;
}
.portal {
    background-image:url(../images/portal16x16.png) !important;
}
#portal-win-shortcut span {
	display:block;
	margin:8px 8px 0px 8px;
    width:48px;
    height:48px;
    background-image: url(../images/portal48x48.png) !important;
}
