{include file=$templates.TEMPLATE_HEADER}
<script language="javascript">
noselect = true;

var cat_columns = [];
{foreach item=name key=module from=$modules}
{assign var=tmp_columns value=$module|cat:'::columns'|call_user_func}
cat_columns['{$module}'] = new Array('{'\', \''|join:$tmp_columns}'); //'
{/foreach}
{literal}

function makeVisible(cat)
{
	fields = document.getElementById('fields').getElementsByTagName('div');
	for(i = 0; i < fields.length; i++)
	{
		fields[i].style.display = 'none';
		fields[i].style.visibility = 'hidden';
	}
	
	fields = cat_columns[cat];
	for(i = 0; i < fields.length; i++)
	{
		field = document.getElementById('search_' + fields[i]);
		field.style.display = 'block';
		field.style.visibility = 'visible';
	}
}
{/literal}
</script>
<div class="contentSpacing">
	<h1 class="title">Advanced Search</h1>
	<span class="subText">Use this form to search for files.<br />
	Note: Various characters can be used to affect the results.<br />
	For searching an entire set of words surround the query with double quotes (").<br />
	To use regular expression, use a slash (/) on both sides of the query.<br />
	To look for fields that are equal to the search query use an equal sign (=) on both sides.<br />
	Finally, to include terms preceed the term with a plus sign (+) and to exclude use a minus sign (-).</span>
	<div class="titlePadding"></div>
	<form action="{''|generate_href}" method="get">
		<h3>Search All Available Fields:</h3>
		Search: <input type="text" name="search" size="40" value="{if isset($smarty.request.search)}{$smarty.request.search|htmlspecialchars}{/if}" /><br /><br />
		Directory: <input type="text" name="dir" size="40" value="{if isset($dir)}{$dir|htmlspecialchars}{/if}" />
		<h3>Search Individual Fields:</h3>
		Category: <select name="cat" onchange="makeVisible(this.value)">
		{foreach item=name key=module from=$modules}
			<option value="{$module}" {if isset($cat) && $cat eq $module}selected{/if}>{$name}</option>
		{/foreach}
		</select><br /><br />
		<div id="fields">
		{foreach from=$columns item=column_value}
			<div id="search_{$column_value}">{$column_value}: <input type="text" name="search_{$column_value}" size="40" value="{if isset($smarty.request.$column)}{$smarty.request.$column|htmlspecialchars}{/if}" /><br /><br /></div>
		{/foreach}
		<script language="javascript">
		makeVisible('{if isset($cat)}{$cat}{else}db_file{/if}');
		</script>
		</div>
		<input type="submit" value="Search" /><input type="reset" value="Reset" />
	</form>
</div>

{include file=$templates.TEMPLATE_FOOTER}
